{block content}
<div id="page">
	{include ../components/navbar.latte}
	<div class="w-full bg-gray-100 ">
		{include ../components/servicesBig.latte}
	</div>
	<div class="w-full bg-gray-200 ">
		{include ../components/services.latte}
	</div>
	<div class="w-full bg-gray-100 ">
		{include ../components/contact.latte}
	</div>
</div>
{/block}
