{include header.latte}

<body class="w-full bg-gray-100">
	{include content}

	{block scripts}
	<script src="https://unpkg.com/nette-forms@3/src/assets/netteForms.js"></script>
	{/block}
</body>
{include footer.latte}
