{block content}

<div id="page">
	{include ./components/navbar.latte}
	<div class="w-full bg-left bg-no-repeat sm:bg-center bg-white" style="background-image: url('images/land.png');">
		{include ./components/landing.latte}
	</div>
	<div class="w-full bg-gray-100 ">
		{include ./components/services.latte}
	</div>
	<div class="w-full bg-gray-200 ">
		{include ./components/team.latte}
	</div>
	<div class="w-full bg-gray-100 ">
		{include ./components/contact.latte}
	</div>
</div>

{/block}
