{block content}
<div id="page">
	{include ./components/navbar.latte}
	<div class="w-full bg-gray-200 bg-cover bg-no-repeat bg-left-top" style="background-image: url('/images/l2.png')">
		{include ./components/landing.latte}
	</div>
	<div class="w-full bg-gray-100 ">
		{include ./components/services.latte}
	</div>
	<div class="w-full bg-gray-200 ">
		{include ./components/team.latte}
	</div>
	<div class="w-full bg-gray-100 ">
		{include ./components/contact.latte}
	</div>
</div>
{/block}
